body{
	margin: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
	line-height: 31px;
}

header{
	background-color: paleturquoise;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;	
}
h1, h2{
	font-family: 'Cinzel', serif;
	font-size: 50px;
	color: teal;
}
header h1{
	color: hotpink;
	font-size: 100px;
}
header img{
	 border-radius: 100px;
	 width: 200;
	 border: 15px solid darkslategray;
}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}
footer{
	max-width: 1000px;
	background-color: paleturquoise;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}
footer p{
	margin: 0;
}
a{
	color: teal;
}
a:hover{
	color: violet;
}
footer a{
	color: red;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}
p.caption{
	color: #999999;
}